$title: 'Sail', cursive;
$common: 'Yrsa', serif;

$colors: (
  background: #66f9c4,
  font: #000000,
  box: #9c8135,
);

$font-families: (
  title: $title,
  common: $common,
);

@mixin breakpoint($point) {
  @if $point == Ldesktop {
    @media (min-width: 1440px) {
      @content;
    }
  } @else if $point == desktop {
    @media (max-width: 1439px) {
      @content;
    }
  } @else if $point == laptop {
    @media (max-width: 1119px) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 1023px) {
      @content;
    }
  } @else if $point == Stablet {
    @media (max-width: 799px) {
      @content;
    }
  } @else if $point == Lmobile {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 400px) {
      @content;
    }
  }
}
