@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Sail&family=Yrsa:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: map-get($colors, 'background');
  font-size: 16px;
  font-family: map-get($font-families, 'common');
}

body,
#__next {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
