@import '../../Styles/variables';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;

  p {
    font-size: 1.2em;
    text-align: justify;
  }
}
