@import '../../Styles/variables';

.tips {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 150px;

  h3 {
    font-weight: 700;
  }
}

.tipsList {
  display: flex;
  flex-direction: column;
  list-style: none;

  li {
    width: 100%;
    margin: 30px 0;

    h4 {
      margin: 15px;
      height: 20%;
    }

    div {
      float: left;
      img {
        height: 100%;
        width: 250px;
        margin: 0 20px 20px 20px;
        object-fit: cover;
      }
    }
  }
}

@include breakpoint(Lmobile) {
  .tipsList {
    li {
      justify-content: center;
      align-items: center;

      div {
        display: flex;
        justify-content: center;
        align-items: center;

        float: unset;
      }
    }
  }
}
