@import '../../Styles/variables';

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 33vh;

  div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1920px;
    height: inherit;

    position: relative;

    img {
      width: 100%;
      height: 100%;
      box-shadow: 0 0 25px 0 black;
      object-fit: cover;
    }
  }

  h1 {
    position: absolute;
    left: 3vw;
    top: 5vh;

    max-width: 30vw;

    font-family: map-get($font-families, 'title');
    font-size: 6.5em;
    font-weight: 500;
    text-decoration: underline;

    @include breakpoint(laptop) {
      font-size: 5em;
    }

    @include breakpoint(Lmobile) {
      top: unset;
      left: unset;
      bottom: 1em;
      max-width: unset;
      width: 70vw;
      text-align: center;

      text-decoration: none;
      -webkit-text-stroke: rgb(145, 145, 145);
      -webkit-text-stroke-width: 1px;
    }
    @include breakpoint(mobile) {
      bottom: unset;
    }
  }
}
